vendor/*
players/*
worlds/*
memory_dumps/*
crashdumps/*
server.log
white-list.txt
banned-players.txt
banned-ips.txt
op.txt
update.bat
plugins/ExplosiveSnowball/*
plugins/FartBattle-main/*
plugins/PickaxeLevel/*
plugins/Testentity/*
plugin_data/Backpack/backpack.sqlite
plugin_data/Bank/bank.db
plugin_data/BazaarShop/bazaardata.sqlite
plugin_data/EconomyAPI/Coin.yml
plugin_data/EconomyAPI/Gem.yml
plugin_data/FavoriteIslands/data.db
plugin_data/FI-RankPrefix/data.yml
plugin_data/FI-SkillLevel/playerdata.db
plugin_data/Hierarchy/members.sqlite
plugin_data/Island/plots.db
plugin_data/Mail/mail.db
plugin_data/EconomyAPI/users/*
plugin_data/Island/worlds/*
internal_plugin/*
plugin_data/_NewAlias/players.sqlite
plugin_data/BlockPets/pets.sqlite3
JpnNameConverter.php
plugin_data/BlockSniper/sessions/*
plugin_data/DailyReward/dailyreward.db
