includes:
	- phpstan-baseline.neon

parameters:
	level: 6
	checkMissingIterableValueType: false
	internalErrorsCountLimit: 10000
	parallel:
		processTimeout: 180.0
	paths:
		- src
	scanDirectories:
		- phar://PharBuilder/PocketMine-MP.phar